<div class="py-[5rem] w-full min-w-[100vh] min-h-[100vh]"
    style="background: linear-gradient(to bottom, #C81D11, rgb(0, 0, 0));">
    <h1 *ngIf="!isUser" class="text-center text-white">Mantenimiento de Cupones</h1>
    <h1 *ngIf="isUser" class="text-center text-white !text-[50px] !mb-10">Cupones Disponibles</h1>
    <div class="w-full text-center" *ngIf="!isUser">
        <button (click)="crearOrden()"
            class="mx-auto bg-green-500 px-3 py-2 rounded-lg text-white text-[1.2rem]">Agregar nuevo cupón</button>
    </div>

    <div *ngFor="let cupon of listOfCupones"
        class="min-w-[90%] max-w-[90%] bg-yellow-700 min-h-[20%] max-h-[20%] mx-auto my-8 text-white">
        <div class="text-center w-full bg-black text-white border border-1 border-white relative py-3">
            <h2 class="absolute left-3 top-3">{{cupon.CuponRestaurant.name}}</h2>
            <h2 class="!m-0 !text-[25px]">{{cupon.nombre}}</h2>
            <div *ngIf="!isUser" class="absolute right-3 top-3 !w-auto">
                <button (click)="actualizarCupon(cupon.id)" class="bg-yellow-500 px-2 py-1 rounded-lg mx-1"><span
                        class="material-icons flex items-center">edit</span></button>
                <!-- <button class="bg-red-800 px-2 py-1 rounded-lg mx-1"><span
                        class="material-icons flex items-center">delete</span></button> -->
            </div>
            <div *ngIf="isUser" class="absolute min-w-min right-3 top-3 !w-auto">
                <button (click)="generarFact(cupon)"
                    class="flex w-[6rem] text-center items-center bg-green-500 px-2 py-1 rounded-lg mx-1 font-semibold">Comprar<span
                        class="material-icons flex items-center">arrow_forward__ios</span></button>
            </div>
        </div>
        <div class="flex justify-around">
            <div *ngFor="let producto of cupon.OrderDetail" class="text-center border border-1 w-full py-4">
                <h2>Nombre: {{producto.OrderDetailProduct.name}}</h2>
                <h2>Cantidad: {{producto.quantity}}</h2>
                <h2>Precio Unitario: ₡{{producto.OrderDetailProduct.price}}</h2>
            </div>
        </div>
        <div class="text-right mr-[5%] border border-1 border-white w-full py-2 flex flex-row justify-end">
            <h2 class="!mx-8 !my-0">Subtotal: ₡{{cupon.subTotal}}</h2>
            <h2 class="!mx-8 !my-0">Impuestos: ₡{{cupon.iva}}</h2>
            <h2 class="!mx-8 !my-0">Descuento: ₡{{cupon.disccountTotal}}</h2>
            <h2 class="!mx-8 !my-0">Total: ₡{{cupon.total}}</h2>
        </div>
    </div>

    <!-- Modal for pay -->
    <div *ngIf="showFactura"
        class="absolute top-0 bg-black bg-opacity-50 min-w-full min-h-screen text-gray-300 overflow-y-auto">
        <div class="absolute top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2 bg-gray-500 min-w-[70rem] min-h-[40rem] px-6 py-6"
            style="background: linear-gradient(to bottom, #C81D11, rgb(0, 0, 0));">
            <button
                class="mx-auto bg-red-500 border border-white text-center hover:bg-red-800 px-2 py-1 rounded-lg text-white text-[1.2rem] min-h-min"
                (click)="handleFacturaView()"><span class="material-icons text-[2rem]">close</span></button>
            <h1 class="text-center text-white">Pagar cuenta</h1>

            <div class="flex">
                <div>
                    <h2 class="truncate">Tipo de pago</h2>

                    <mat-radio-group (change)="onChange($event)" class="flex-col flex ">
                        <mat-radio-button [checked]="true" class="my-1" [value]="0">En efectivo</mat-radio-button>
                        <mat-radio-button [checked]="false" class="my-1" [value]="1">Con tarjeta</mat-radio-button>
                        <mat-radio-button [checked]="false" class="my-1" [value]="2">Ambas</mat-radio-button>
                    </mat-radio-group>
                </div>
                <!-- Card pay sections -->
                <div *ngIf="typeOfPayment == 0" class="ml-10">
                    <div class="flex my-2 items-center">
                        <label for="onlyCash-label"
                            class="min-w-[15rem] block text-sm font-medium text-gray-900 dark:text-white">Con cuanto
                            desea
                            pagar</label>
                        <input (keyup)="getPayInCash($event)" type="number" id="onlyCash-label"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="0" required>
                    </div>
                </div>
                <div class="ml-10" *ngIf="typeOfPayment != 0">
                    <div class="flex my-2 items-center">
                        <label for="card-number"
                            class="min-w-[15rem] block text-sm font-medium text-gray-900 dark:text-white flex items-center">
                            <span class="material-icons mr-1">credit_card</span>Número de tarjeta</label>
                        <input (keyup)="validateCardNumber($event)" type="number" id="card-number"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Ej: 0000-0000-0000-0000" required>
                    </div>
                    <div class="flex my-2 items-center">
                        <label
                            class="min-w-[15rem] block text-sm font-medium text-gray-900 dark:text-white flex items-center"
                            for="date-card"><span class="material-icons mr-1">date_range</span>Fecha de
                            vencimiento</label>
                        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                        </div>
                        <input id="date-card" datepicker (change)="validateCardDate($event)" type="date"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Select date">
                    </div>
                    <div class="flex my-2 items-center">
                        <label for="cvv-card"
                            class="min-w-[15rem] block text-sm font-medium text-gray-900 dark:text-white">CVV</label>
                        <input type="number" (change)="validateCVV($event)" id="cvv-card"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Ej: xxx" required>
                    </div>
                    <div class="flex my-2 items-center" *ngIf="typeOfPayment == 2">
                        <label for="cash-label"
                            class="min-w-[15rem] block text-sm font-medium text-gray-900 dark:text-white">Monto
                            a pagar con efectivo</label>
                        <input (keyup)="getPayInBoth($event)" type="number" id="cash-label"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="0" required>
                    </div>
                </div>

            </div>
            <div class="overflow-y-auto max-h-96">
                <table mat-table class="full-width-table bg-black" matSort aria-label="Elements"
                    [dataSource]="dataFacturaTable">

                    <ng-container matColumnDef="subtotal" class="!w-min !text-center">
                        <th mat-header-cell class="text-[#e5e5e5] text-[1rem] border-b-4 !text-center !pl-5 !m-0"
                            *matHeaderCellDef mat-sort-header>Subtotal</th>
                        <td mat-cell class="text-[#e5e5e5] !w-min text-center !p-5 truncate" *matCellDef="let row">
                            {{'₡'+row.subtotal}}
                        </td>
                    </ng-container>

                    <ng-container class="text-[#e5e5e5] !w-min" matColumnDef="product">
                        <th mat-header-cell class="text-[#e5e5e5] text-[1rem] border-b-4 !text-center !pl-5 !m-0"
                            *matHeaderCellDef mat-sort-header>Producto
                        </th>
                        <td mat-cell class="text-[#e5e5e5] " *matCellDef="let row">{{row.product.name}}</td>
                    </ng-container>

                    <ng-container matColumnDef="cantidad">
                        <th mat-header-cell class="text-[#e5e5e5] text-[1rem] border-b-4 !text-center !pl-5 !m-0"
                            *matHeaderCellDef mat-sort-header>Cantidad</th>
                        <td mat-cell class="text-[#e5e5e5]" *matCellDef="let row">{{row.cantidad}}</td>
                    </ng-container>

                    <ng-container matColumnDef="precio">
                        <th mat-header-cell class="text-[#e5e5e5] text-[1rem] border-b-4 !text-center !pl-5 !m-0"
                            *matHeaderCellDef mat-sort-header>Precio unitario
                        </th>
                        <td mat-cell class="text-[#e5e5e5]" *matCellDef="let row">{{'₡'+row.precio}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
                </table>
            </div>

            <div
                class="col-start-4  w-min truncate right-0 flex items-center bg-gray-800 rounded-lg px-2 my-1 text-center">
                <p class=" !mr-2 !mb-0 bg-gray-800 rounded-lg px-2 py-1 text-center">Vuelto:</p>
                <p class="!mb-0">{{'₡'+vuelto}}</p>
            </div>
            <div
                class="col-start-4  w-min truncate right-0 flex items-center bg-gray-800 rounded-lg px-2 my-1 text-center">
                <p class=" !mr-2 !mb-0 bg-gray-800 rounded-lg px-2 py-1 text-center">Total por tarjeta:</p>
                <p class="!mb-0">{{'₡'+carritoToSave.clientPaymentInCard}}</p>
            </div>
            <div
                class="col-start-4  w-min truncate right-0 flex items-center bg-gray-800 rounded-lg px-2 my-1 text-center">
                <p class=" !mr-2 !mb-0 bg-gray-800 rounded-lg px-2 py-1 text-center">Total en efectivo:</p>
                <p class="!mb-0">{{'₡'+carritoToSave?.clientPaymentInCash}}</p>
            </div>
            <div
                class="col-start-4  w-min truncate right-0 flex items-center bg-gray-800 rounded-lg px-2 my-1 text-center ">
                <p class=" !mr-2 !mb-0 bg-gray-800 rounded-lg px-2 py-1 text-center">Total:</p>
                <p class="!mb-0 ">{{'₡'+carritoToSave?.orderTotal}}</p>
            </div>

            <button (click)="generarOrden()"
                class="bg-green-700 px-3 py-2 rounded-xl text-[1.3rem] min-w-min items-center flex absolute right-10 hover:bg-green-900 bottom-10">Confirmar
                compra</button>
        </div>
    </div>
</div>