<div class="py-[5rem] w-full min-w-[100vh] min-h-[100vh]"
    style="background: linear-gradient(to bottom, #C81D11, rgb(0, 0, 0));">
    <h1 class="text-center text-white">Mantenimiento de Cupones</h1>
    <div class="w-full text-center">
        <button (click)="crearOrden()" class="mx-auto bg-green-500 px-3 py-2 rounded-lg text-white text-[1.2rem]">Agregar nuevo cupón</button>
    </div>

    <div class="min-w-[90%] max-w-[90%] bg-yellow-800 min-h-[20%] max-h-[20%] mx-auto my-8">
        <div class="text-center w-full bg-black text-white border border-1 border-white relative py-3">
            <h2 class="!m-0">Nombre de cupon</h2>
            <div class="absolute right-3 top-3">
                <button class="bg-yellow-500 px-2 py-1 rounded-lg mx-1"><span
                        class="material-icons flex items-center">edit</span></button>
                <button class="bg-red-800 px-2 py-1 rounded-lg mx-1"><span
                        class="material-icons flex items-center">delete</span></button>
            </div>
        </div>
        <div class="flex justify-around">
            <div class="text-center border border-1 w-full">
                <h2>Producto 1</h2>
                <h2>Cantidad</h2>
                <h2>Precio Unitario</h2>
            </div>
            <div class="text-center border border-1 w-full">
                <h2>Producto 2</h2>
                <h2>Cantidad</h2>
                <h2>Precio Unitario</h2>
            </div>
            <div class="text-center border border-1 w-full">
                <h2>Producto 3</h2>
                <h2>Cantidad</h2>
                <h2>Precio Unitario</h2>
            </div>
            <div class="text-center border border-1 w-full">
                <h2>Producto 4</h2>
                <h2>Cantidad</h2>
                <h2>Precio Unitario</h2>
            </div>
        </div>
        <div class="text-right mr-[5%] border border-1 border-white w-full py-2 flex flex-row justify-end">
            <h2 class="!mx-8 !my-0">Subtotal: 10000</h2>
            <h2 class="!mx-8 !my-0">Impuestos: 1300</h2>
            <h2 class="!mx-8 !my-0">Descuento: 2000</h2>
            <h2 class="!mx-8 !my-0">Total: 9300</h2>
        </div>
    </div>

    <div class="min-w-[90%] max-w-[90%] bg-yellow-800 min-h-[20%] max-h-[20%] mx-auto my-8">
        <div class="text-center w-full bg-black text-white border border-1 border-white relative py-3">
            <h2 class="!m-0">Nombre de cupon</h2>
            <div class="absolute right-3 top-3">
                <button class="bg-yellow-500 px-2 py-1 rounded-lg mx-1"><span
                        class="material-icons flex items-center">edit</span></button>
                <button class="bg-red-800 px-2 py-1 rounded-lg mx-1"><span
                        class="material-icons flex items-center">delete</span></button>
            </div>
        </div>
        <div class="flex justify-around">
            <div class="text-center border border-1 w-full">
                <h2>Producto 1</h2>
                <h2>Cantidad</h2>
                <h2>Precio Unitario</h2>
            </div>
            <div class="text-center border border-1 w-full">
                <h2>Producto 2</h2>
                <h2>Cantidad</h2>
                <h2>Precio Unitario</h2>
            </div>
            <div class="text-center border border-1 w-full">
                <h2>Producto 3</h2>
                <h2>Cantidad</h2>
                <h2>Precio Unitario</h2>
            </div>
            <div class="text-center border border-1 w-full">
                <h2>Producto 4</h2>
                <h2>Cantidad</h2>
                <h2>Precio Unitario</h2>
            </div>
        </div>
        <div class="text-right mr-[5%] border border-1 border-white w-full py-2 flex flex-row justify-end">
            <h2 class="!mx-8 !my-0">Subtotal: 10000</h2>
            <h2 class="!mx-8 !my-0">Impuestos: 1300</h2>
            <h2 class="!mx-8 !my-0">Descuento: 2000</h2>
            <h2 class="!mx-8 !my-0">Total: 9300</h2>
        </div>
    </div>
</div>