<div *ngIf="!isLoginPag" class="h-[8rem] flex-wrap bg-black text-[#e5e5e5] flex items-center justify-center relative overflow-x-hidden">
  <!-- <div class="bg-contain w-full h-[2rem] absolute bg-repeat-x -bottom-6"
    style="background-image: url(./assets/Images/borderImage.jpg)"></div> -->
  <div class="bg-contain w-screen h-[2rem]  bg-repeat-x -top-6"
    style="background-image: url(./assets/Images/borderImage.jpg)"></div>
  <img src="./assets/Images/KOEFOODLogo.png" class="w-[5rem]" />
  <small>&copy; Copyright KÖE Food</small>
</div>