<div class="h-screen overflow-auto pb-60" style="background: linear-gradient(to bottom, #C81D11, rgb(0, 0, 0));">
    <h1 class="mt-10 mb-4 text-[#e5e5e5] text-center text-[30px] font-bold italic">Mesas de restaurante</h1>
    <div class="w-2/3 mx-auto justify-center pt-10 overflow-auto grid grid-cols-3 gap-4">
        <div class="text-center border-2 border-[#c1c161] rounded-lg p-2 ">
            <p class="text-[#e5e5e5]"># de mesa</p>
            <img src="./assets/Images/table.png" alt="" class="w-[15rem] m-auto">
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Reservada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Libre</button>
            <button class="mx-1 bg-[#c1c161] text-black font-bold border-white rounded-lg px-4 py-1 h-auto">Ocupada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Inactiva</button>
        </div>
        <div class="text-center border-2 border-[#c1c161] rounded-lg p-2 ">
            <p class="text-[#e5e5e5]"># de mesa</p>
            <img src="./assets/Images/table.png" alt="" class="w-[15rem] m-auto">
            <button class="mx-1 bg-[#c1c161] text-black font-bold border-white rounded-lg px-4 py-1 h-auto">Reservada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Libre</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Ocupada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Inactiva</button>
        </div>
        <div class="text-center border-2 border-[#c1c161] rounded-lg p-2 ">
            <p class="text-[#e5e5e5]"># de mesa</p>
            <img src="./assets/Images/table.png" alt="" class="w-[15rem] m-auto">
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Reservada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Libre</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Ocupada</button>
            <button class="mx-1 bg-[#c1c161] text-black font-bold border-white rounded-lg px-4 py-1 h-auto">Inactiva</button>
        </div>
        <div class="text-center border-2 border-[#c1c161] rounded-lg p-2 ">
            <p class="text-[#e5e5e5]"># de mesa</p>
            <img src="./assets/Images/table.png" alt="" class="w-[15rem] m-auto">
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Reservada</button>
            <button class="mx-1 bg-[#c1c161] text-black font-bold border-white rounded-lg px-4 py-1 h-auto">Libre</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Ocupada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Inactiva</button>
        </div>
        <div class="text-center border-2 border-[#c1c161] rounded-lg p-2 ">
            <p class="text-[#e5e5e5]"># de mesa</p>
            <img src="./assets/Images/table.png" alt="" class="w-[15rem] m-auto">
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Reservada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Libre</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Ocupada</button>
            <button class="mx-1 bg-[#c1c161] text-black font-bold border-white rounded-lg px-4 py-1 h-auto">Inactiva</button>
        </div>
        <div class="text-center border-2 border-[#c1c161] rounded-lg p-2 ">
            <p class="text-[#e5e5e5]"># de mesa</p>
            <img src="./assets/Images/table.png" alt="" class="w-[15rem] m-auto">
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Reservada</button>
            <button class="mx-1 bg-[#c1c161] text-black font-bold border-white rounded-lg px-4 py-1 h-auto">Libre</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Ocupada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Inactiva</button>
        </div>
        <div class="text-center border-2 border-[#c1c161] rounded-lg p-2 ">
            <p class="text-[#e5e5e5]"># de mesa</p>
            <img src="./assets/Images/table.png" alt="" class="w-[15rem] m-auto">
            <button class="mx-1 bg-[#c1c161] text-black font-bold border-white rounded-lg px-4 py-1 h-auto">Reservada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Libre</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Ocupada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Inactiva</button>
        </div>
        <div class="text-center border-2 border-[#c1c161] rounded-lg p-2 ">
            <p class="text-[#e5e5e5]"># de mesa</p>
            <img src="./assets/Images/table.png" alt="" class="w-[15rem] m-auto">
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Reservada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Libre</button>
            <button class="mx-1 bg-[#c1c161] text-black font-bold border-white rounded-lg px-4 py-1 h-auto">Ocupada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Inactiva</button>
        </div>
        <div class="text-center border-2 border-[#c1c161] rounded-lg p-2 ">
            <p class="text-[#e5e5e5]"># de mesa</p>
            <img src="./assets/Images/table.png" alt="" class="w-[15rem] m-auto">
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Reservada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Libre</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Ocupada</button>
            <button class="mx-1 bg-[#c1c161] text-black font-bold border-white rounded-lg px-4 py-1 h-auto">Inactiva</button>
        </div>
        <div class="text-center border-2 border-[#c1c161] rounded-lg p-2 ">
            <p class="text-[#e5e5e5]"># de mesa</p>
            <img src="./assets/Images/table.png" alt="" class="w-[15rem] m-auto">
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Reservada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Libre</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Ocupada</button>
            <button class="mx-1 bg-[#c1c161] text-black font-bold border-white rounded-lg px-4 py-1 h-auto">Inactiva</button>
        </div>
        <div class="text-center border-2 border-[#c1c161] rounded-lg p-2 ">
            <p class="text-[#e5e5e5]"># de mesa</p>
            <img src="./assets/Images/table.png" alt="" class="w-[15rem] m-auto">
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Reservada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Libre</button>
            <button class="mx-1 bg-[#c1c161] text-black font-bold border-white rounded-lg px-4 py-1 h-auto">Ocupada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Inactiva</button>
        </div>
        <div class="text-center border-2 border-[#c1c161] rounded-lg p-2 ">
            <p class="text-[#e5e5e5]"># de mesa</p>
            <img src="./assets/Images/table.png" alt="" class="w-[15rem] m-auto">
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Reservada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Libre</button>
            <button class="mx-1 bg-[#c1c161] text-black font-bold border-white rounded-lg px-4 py-1 h-auto">Ocupada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Inactiva</button>
        </div>
        <div class="text-center border-2 border-[#c1c161] rounded-lg p-2 ">
            <p class="text-[#e5e5e5]"># de mesa</p>
            <img src="./assets/Images/table.png" alt="" class="w-[15rem] m-auto">
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Reservada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Libre</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Ocupada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Inactiva</button>
        </div>
        <div class="text-center border-2 border-[#c1c161] rounded-lg p-2 ">
            <p class="text-[#e5e5e5]"># de mesa</p>
            <img src="./assets/Images/table.png" alt="" class="w-[15rem] m-auto">
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Reservada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Libre</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Ocupada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Inactiva</button>
        </div>
        <div class="text-center border-2 border-[#c1c161] rounded-lg p-2 ">
            <p class="text-[#e5e5e5]"># de mesa</p>
            <img src="./assets/Images/table.png" alt="" class="w-[15rem] m-auto">
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Reservada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Libre</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Ocupada</button>
            <button class="mx-1 bg-black text-white rounded-lg px-4 py-1 h-auto">Inactiva</button>
        </div>
    </div>
</div>