<div class="relative">
  <button mat-icon-button class="close-button !absolute right-0 text-white" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="white">close</mat-icon>
  </button>
  <div *ngIf="datos" class="text-gray-300 pb-4 rounded-lg text-center pt-4 px-6"
    style="background: linear-gradient(to bottom, #C81D11, rgb(0, 0, 0));">
    <h2 mat-dialog-title>{{datos.code}}</h2>

    <mat-dialog-content class="!text-[18px]">
      <div class="flex space-x-2">
        <p class="font-bold">Capacidad:</p>
        <p>{{datos.capacity}}</p>
      </div>
      <div class="flex space-x-2">
        <p class="font-bold">Nombre del restaurante:</p>
        <p>{{datos.restaurantRestaurantTable.name}}</p>
      </div>
      <div class="flex space-x-2">
        <p class="font-bold">Ubicación del restaurante:</p>
        <p>{{datos.restaurantRestaurantTable.ubication}}</p>
      </div>
      <div class="flex space-x-2">
        <p class="font-bold" >Teléfono del restaurante:</p>
        <p>{{datos.restaurantRestaurantTable.phoneNumber}}</p>
      </div>
      <h4 class="!text-[18px] text-green-500 !font-bold border border-white rounded-xl !w-28 !mx-auto">{{datos.state=='FREE'?'Libre':datos.state=='NOTFREE'?'Ocupada':datos.state=='RESERVED'?'Reservada':'Inactiva'}}</h4>
    </mat-dialog-content>
    <!-- <mat-dialog-actions>
    </mat-dialog-actions> -->
  </div>
</div>