<div class="relative relative min-w-[15rem]">
  <button
    mat-icon-button
    class="close-button !absolute right-0 text-white"
    [mat-dialog-close]="true"
  >
    <mat-icon class="close-icon" color="white">close</mat-icon>
  </button>
  <div
    *ngIf="datos"
    class="text-gray-300 pb-4 rounded-lg text-center pt-4 px-6"
    style="background: linear-gradient(to bottom, #c81d11, rgb(0, 0, 0))"
  >
    <h2 mat-dialog-title>Detalle de Orden</h2>

    <mat-dialog-content>
      <div class="flex justify-around">
        <div class="bg-red-900 px-3 p-2 rounded-lg border border-black mb-4">
          <p class="!mb-0 font-bold">Nombre Restaurante</p>
          <p class="!mb-0 bg-gray-800 px-2 py-1 rounded-lg">
            {{ datos.orderRestaurant.name }}
          </p>
        </div>
        <div class="bg-red-900 px-3 p-2 rounded-lg border border-black mb-4">
          <p class="!mb-0 font-bold">Código de la mesa</p>
          <p class="!mb-0 bg-gray-800 px-2 py-1 rounded-lg">
            {{ datos.orderTable ? datos.orderTable.code : "No aplica" }}
          </p>
        </div>
        <div class="bg-red-900 px-3 p-2 rounded-lg border border-black mb-4">
          <p class="!mb-0 font-bold">Cliente</p>
          <p class="!mb-0 bg-gray-800 px-2 py-1 rounded-lg">
            {{
              datos.orderUser
                ? datos.orderUser.name +
                  " " +
                  datos.orderUser.lastname +
                  " - " +
                  datos.orderUser.id
                : "Usuario eliminado"
            }}
          </p>
        </div>
        <!-- <div class="bg-red-900 px-3 p-2 rounded-lg border border-black mb-4">
          <p class="!mb-0 font-bold">Mesero</p>
          <p class="!mb-0 bg-gray-800 px-2 py-1 rounded-lg">{{datos.orderWaiter.name + " " + datos.orderWaiter.lastname + " -
            " + datos.orderWaiter.id}}</p>
        </div> -->
        <div class="bg-red-900 px-3 p-2 rounded-lg border border-black mb-4">
          <p class="!mb-0 font-bold">Tipo de pago</p>
          <p class="!mb-0 bg-gray-800 px-2 py-1 rounded-lg">
            {{
              datos.paymentOption == "CASH"
                ? "Efectivo"
                : datos.paymentOption == "CARD"
                ? "Tarjeta"
                : "Híbrido"
            }}
          </p>
        </div>
        <div class="bg-red-900 px-3 p-2 rounded-lg border border-black mb-4">
          <p class="!mb-0 font-bold">Estado de orden</p>
          <p class="!mb-0 bg-gray-800 px-2 py-1 rounded-lg">
            {{
              datos.state == "REGISTERED"
                ? "Registrada"
                : datos.state == "INPROCESS"
                ? "En
            proceso"
                : datos.state == "PENDING"
                ? "Pendiente"
                : datos.state == "DELIVERED"
                ? "Enviada"
                : "Por pagar"
            }}
          </p>
        </div>
        <div class="bg-red-900 px-3 p-2 rounded-lg border border-black mb-4">
          <p class="!mb-0 font-bold">Fecha de orden</p>
          <p class="!mb-0 bg-gray-800 px-2 py-1 rounded-lg">
            {{ datos.date | date : "dd/MM/YYYY" }}
          </p>
        </div>
      </div>

      <div class="mt-1">
        <div
          class="text-left grid grid-cols-4 justify-items-center bg-black border border-white rounded-tl-md rounded-tr-md"
        >
          <div class="w-full border-r-2 border-white text-center">
            <p class="!mb-0 py-1">Nombre Producto</p>
          </div>
          <div class="w-full border-r-2 border-white text-center">
            <p class="!mb-0 py-1">Cantidad</p>
          </div>
          <div class="w-full border-r-2 border-white text-center">
            <p class="!mb-0 py-1">Nota de cliente</p>
          </div>
          <div class="w-full border-r-2 border-white text-center">
            <p class="!mb-0 py-1">Total de línea</p>
          </div>
        </div>
        <div class="rounded-bl-md rounded-br-md border border-white">
          <div
            *ngFor="let item of datos.OrderDetail"
            class="grid grid-cols-4 justify-items-center bg-gray-800 rounded-bl-md rounded-br-md"
          >
            <div
              class="w-full border-r-2 border-white text-center px-4 py-2 border-b-2"
            >
              <p>{{ item.OrderDetailProduct.name }}</p>
            </div>
            <div
              class="w-full border-r-2 border-white text-center px-4 py-2 border-b-2"
            >
              <p>{{ item.quantity }}</p>
            </div>
            <div
              class="w-full border-r-2 border-white text-center px-4 py-2 border-b-2"
            >
              <p>{{ item.note }}</p>
            </div>
            <div
              class="w-full border-r-2 border-white text-center px-4 py-2 border-b-2"
            >
              <p>{{ "₡" + item.total }}</p>
            </div>
          </div>
          <div class="grid grid-cols-4 relative">
            <div
              class="col-start-4 w-min truncate flex items-center bg-gray-800 rounded-lg px-2 my-1 text-center"
            >
              <p
                class="!mr-2 !mb-0 bg-gray-800 rounded-lg px-2 py-1 text-center"
              >
                Subtotal:
              </p>
              <p class="!mb-0">{{ "₡" + datos.subTotal }}</p>
            </div>
          </div>
          <div class="grid grid-cols-4 relative">
            <div
              class="col-start-4 w-min truncate right-0 flex items-center bg-gray-800 rounded-lg px-2 my-1 text-center"
            >
              <p
                class="!mr-2 !mb-0 bg-gray-800 rounded-lg px-2 py-1 text-center"
              >
                IVA:
              </p>
              <p class="!mb-0">{{ "₡" + datos.iva }}</p>
            </div>
          </div>
          <div class="grid grid-cols-4 relative">
            <div
              class="col-start-4 w-min truncate right-0 flex items-center bg-gray-800 rounded-lg px-2 my-1 text-center"
            >
              <p
                class="!mr-2 !mb-0 bg-gray-800 rounded-lg px-2 py-1 text-center"
              >
                Total:
              </p>
              <p class="!mb-0">{{ "₡" + datos.orderTotal }}</p>
            </div>
          </div>
          <div class="grid grid-cols-4 relative">
            <div
              class="col-start-4 w-min truncate right-0 flex items-center bg-gray-800 rounded-lg px-2 my-1 text-center"
            >
              <p
                class="!mr-2 !mb-0 bg-gray-800 rounded-lg px-2 py-1 text-center"
              >
                Total por tarjeta:
              </p>
              <p class="!mb-0">{{ "₡" + datos.clientPaymentInCard }}</p>
            </div>
          </div>
          <div class="grid grid-cols-4 relative">
            <div
              class="col-start-4 w-min truncate right-0 flex items-center bg-gray-800 rounded-lg px-2 my-1 text-center"
            >
              <p
                class="!mr-2 !mb-0 bg-gray-800 rounded-lg px-2 py-1 text-center"
              >
                Total en efectivo:
              </p>
              <p class="!mb-0">{{ "₡" + datos.clientPaymentInCash }}</p>
            </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <!-- <mat-dialog-actions>
    </mat-dialog-actions> -->
  </div>
</div>
