<div
  class="pt-[5rem] w-full h-full min-h-screen"
  style="background: linear-gradient(to bottom, #c81d11, rgb(0, 0, 0))"
>
  <h1 class="text-center text-[#e5e5e5] !font-bold">
    Órdenes de los restaurantes
  </h1>
  <div class="mat-elevation-z8 w-[80%] mx-auto border border-[#c1c161]">
    <table
      mat-table
      class="full-width-table bg-black"
      matSort
      aria-label="Elements"
      [dataSource]="dataSource"
    >
      <!-- Id Column -->
      <ng-container matColumnDef="orderRestaurant">
        <th
          mat-header-cell
          class="text-[#e5e5e5] text-[1rem] border-b-4"
          *matHeaderCellDef
          mat-sort-header
        >
          Restaurante
        </th>
        <td mat-cell class="text-[#e5e5e5]" *matCellDef="let row">
          {{ row.orderRestaurant.name }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container class="text-[#e5e5e5]" matColumnDef="orderTable">
        <th
          mat-header-cell
          class="text-[#e5e5e5] text-[1rem] border-b-4 truncate"
          *matHeaderCellDef
          mat-sort-header
        >
          Código de mesa
        </th>
        <td mat-cell class="text-[#e5e5e5]" *matCellDef="let row">
          {{ row.orderTable ? row.orderTable.code : "No aplica" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="orderUser">
        <th
          mat-header-cell
          class="text-[#e5e5e5] text-[1rem] border-b-4"
          *matHeaderCellDef
          mat-sort-header
        >
          Cliente
        </th>
        <td mat-cell class="text-[#e5e5e5] truncate !px-3" *matCellDef="let row">
          {{
            row.orderUser
              ? row.orderUser.name + " " + row.orderUser.lastname
              : "Usuario eliminado"
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="orderTotal">
        <th
          mat-header-cell
          class="text-[#e5e5e5] text-[1rem] border-b-4"
          *matHeaderCellDef
          mat-sort-header
        >
          Total
        </th>
        <td mat-cell class="text-[#e5e5e5]" *matCellDef="let row">
          {{ row.orderTotal }}
        </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th
          mat-header-cell
          class="text-[#e5e5e5] text-[1rem] border-b-4"
          *matHeaderCellDef
          mat-sort-header
        >
          Estado
        </th>
        <td mat-cell class="text-[#e5e5e5]" *matCellDef="let row">
          {{
            row.state == "REGISTERED"
              ? "Registrada"
              : row.state == "INPROCESS"
              ? "En proceso"
              : row.state == "PENDING"
              ? "Pendiente"
              : row.state == "DELIVERED"
              ? "Entregada"
              : "Por pagar"
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th
          mat-header-cell
          class="text-[#e5e5e5] text-[1rem] border-b-4"
          *matHeaderCellDef
          mat-sort-header
        >
          Fecha
        </th>
        <td mat-cell class="text-[#e5e5e5]" *matCellDef="let row">
          {{ row.date | date : "dd/MM/YYYY" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th
          mat-header-cell
          class="text-[#e5e5e5] text-[1rem] border-b-4"
          *matHeaderCellDef
          mat-sort-header
        >
          Acciones
        </th>
        <td mat-cell class="text-[#e5e5e5]" *matCellDef="let row">
          <button
            (click)="detailProduct(row.id)"
            class="bg-green-800 px-2 py-1 rounded-lg"
          >
            Ver detalle
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      class="bg-gray-500 text-[#e5e5e5]"
      #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
