<div style="background: linear-gradient(to bottom, #C81D11, rgb(0, 0, 0));" class="w-auto">
  <form [formGroup]="restaurantTableForm" novalidate
    (ngSubmit)="isCreate ? crearRestaurantTable(): actualizarRestaurantTable()">
    <input type="hidden" formControlName="id" />
    <mat-card class="shipping-card w-screen h-screen !my-0 text-white mx-auto w-auto"
      style="background: linear-gradient(to bottom, #C81D11, rgb(0, 0, 0));">
      <div
        class="border border-[1px] min-w-[40rem] px-5 py-8 rounded-lg absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]">
        <mat-card-header class="text-center w-full">
          <mat-card-title class="!text-[2.5rem] mb-34 mx-auto">{{titleForm}} Mesa</mat-card-title>
          <div *ngIf="!isCreate" class="relative max-w-min ">
            <p class="absolute right-5 text-lg font-bold p-3 truncate border rounded-[10px] top-5  shadow-lg">
              {{restaurantTableInfo.code}}</p>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="row text-[white] text-[1rem]">
            <div class="col">
              <mat-form-field class="full-width">
                <input min="1" type="number" matInput placeholder="Capacidad máxima" #capacity
                  formControlName="capacity">
                <mat-error *ngIf="restaurantTableForm.controls['capacity'].hasError('required')">
                  Capacidad es <strong>requerida</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col" *ngIf="tableEnumList">
              <mat-form-field class="full-width ">
                <mat-select placeholder="Estado de la mesa" formControlName="state">
                  <mat-option *ngFor="let s of tableEnumList" [value]="s.id">
                    {{ s.nombre }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="restaurantTableForm.controls['state'].hasError('required')">
                  Estado es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col" *ngIf="restaurantList">
              <mat-form-field class="full-width">
                <mat-select placeholder="Restaurante al que pertenece" formControlName="idRestaurant">
                  <mat-option *ngFor="let g of restaurantList" [value]="g.id">
                    {{ g.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="restaurantTableForm.controls['idRestaurant'].hasError('required')">
                  Restaurante es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

        </mat-card-content>
        <mat-card-actions>
          <button class="mx-auto w-full" mat-raised-button color="primary" type="submit">Guardar</button>

          <button class="backBTN !mt-3" mat-raised-button color="primary" (click)="onBack()">Volver</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </form>
</div>