<div style="background: linear-gradient(to bottom, #C81D11, rgb(0, 0, 0));" class="w-auto">
  <form [formGroup]="productForm" novalidate (ngSubmit)="isCreate ? crearCupon(): actualizarProducto()">
    <input type="hidden" formControlName="id" />

    <mat-card class="shipping-card w-screen h-screen !my-0 text-white mx-auto w-auto"
      style="background: linear-gradient(to bottom, #C81D11, rgb(0, 0, 0));">
      <div
        class="border border-[1px] min-w-[40rem] px-5 py-8 rounded-lg absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]">
        <mat-card-header class="text-center w-full">
          <mat-card-title class="!text-[2.5rem] mb-34 mx-auto">{{titleForm}} Cupón</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row text-[white] text-[1rem]">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Nombre" #name formControlName="name" maxlength="50">
                <mat-hint align="end" class="!text-white">{{name.value.length}} / 50</mat-hint>
                <mat-error *ngIf="productForm.controls['name'].hasError('required')">
                  Nombre es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col">
              <mat-form-field class="full-width ">
                <input matInput placeholder="Descuento" #description formControlName="description" maxlength="200">
                <mat-hint align="end" class="!text-white">{{description.value.length}} / 200</mat-hint>
                <mat-error *ngIf="productForm.controls['description'].hasError('required')">
                  El valor de descuento es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div> -->

          <div class="row">
            <div class="col">
              <mat-form-field class="full-width ">
                <input min="1" type=number matInput placeholder="Descuento" #capacity formControlName="disccount">
                <mat-error *ngIf="productForm.controls['disccount'].hasError('required')">
                  La descuento es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col">
              <mat-form-field class="full-width ">
                <input matInput placeholder="Ingredientes" #capacity formControlName="ingredients">
                <mat-error *ngIf="productForm.controls['ingredients'].hasError('required')">
                  Los Ingredientes son<strong>requeridos</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div> -->

          <!-- <div class="row">
            <div class="col">
              <mat-form-field class="full-width ">
                <mat-select placeholder="Categoría" formControlName="idCategory">
                  <mat-option *ngFor="let s of categoryList" [value]="s.id">
                    {{ s.description }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="productForm.controls['idCategory'].hasError('required')">
                  La categoría es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div> -->

          <!-- <div class="row">
            <div class="col">
              <mat-label>Estado del producto</mat-label>
              <mat-radio-group formControlName="state">
                <mat-radio-button class="" [value]="true">Activo</mat-radio-button>
                <mat-radio-button [value]="false">Inactivo</mat-radio-button>
              </mat-radio-group>
              <mat-error *ngIf="productForm.controls['state'].hasError('required')">
                Publicar es <strong>requerido</strong>
              </mat-error>
            </div>
          </div> -->

          <div *ngIf="isCreate" class="row">
            <div class="col" *ngIf="restaurantList">
              <mat-form-field class="full-width">
                <mat-select placeholder="Restaurante al que pertenece" formControlName="idRestaurant"
                  (selectionChange)="select($event.value)">
                  <mat-option *ngFor="let g of restaurantList" [value]="g.id">
                    {{ g.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="productForm.controls['idRestaurant'].hasError('required')">
                  Restaurante es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <table *ngIf="isCreate" mat-table class="full-width-table bg-black" matSort aria-label="Elements"
            [dataSource]="productsFromRestaurant">

            <ng-container matColumnDef="name" class="!w-min !text-center">
              <th mat-header-cell class="text-[#e5e5e5] text-[1rem] border-b-4 !text-center !pl-5 !m-0"
                *matHeaderCellDef mat-sort-header>Nombre</th>
              <td mat-cell class="text-[#e5e5e5] !w-min text-center !p-5 truncate" *matCellDef="let row">{{row.name}}
              </td>
            </ng-container>

            <ng-container class="text-[#e5e5e5] !w-min" matColumnDef="description">
              <th mat-header-cell class="text-[#e5e5e5] text-[1rem] border-b-4 !text-center !pl-5 !m-0"
                *matHeaderCellDef mat-sort-header>Descripción
              </th>
              <td mat-cell class="text-[#e5e5e5] " *matCellDef="let row">{{row.description}}</td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell class="text-[#e5e5e5] text-[1rem] border-b-4 !text-center !pl-5 !m-0"
                *matHeaderCellDef mat-sort-header>Precio</th>
              <td mat-cell class="text-[#e5e5e5]" *matCellDef="let row">{{'₡'+row.price}}</td>
            </ng-container>

            <ng-container matColumnDef="productToRestaurantProduct">
              <th mat-header-cell class="text-[#e5e5e5] text-[1rem] border-b-4 !text-center !pl-5 !m-0"
                *matHeaderCellDef mat-sort-header>Categoría
              </th>
              <td mat-cell class="text-[#e5e5e5]" *matCellDef="let row">{{row.productToRestaurantProduct.description}}
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell class="text-[#e5e5e5] text-[1rem] border-b-4 !text-center !pl-5 !m-0"
                *matHeaderCellDef mat-sort-header>Acciones
              </th>
              <td mat-cell class="text-[#e5e5e5] truncate !py-4 !pr-0" *matCellDef="let row">
                <!-- <button (click)="detailProduct(row.id)" class="bg-green-800 px-2 py-1 rounded-lg mx-1">
                  <span class="material-icons flex items-center">remove_red_eye</span></button> -->
                <button class="bg-green-600 px-2 py-1 rounded-lg mx-auto !mx-1" type="button"
                  (click)="addLineaDetalle(row)"><span class="material-icons flex items-center ">add</span></button>
                  <button class="bg-red-600 px-2 py-1 rounded-lg mx-auto !mx-1" type="button"
                  (click)="removeLineaDetalle(row)"><span class="material-icons flex items-center ">delete</span></button>

              </td>
              <td mat-cell class="text-[#e5e5e5]" *matCellDef="let row"></td>
              <td mat-cell class="text-[#e5e5e5]" *matCellDef="let row"></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator *ngIf="isCreate" class="bg-gray-500 text-[#e5e5e5] !flex-nowrap " #paginator
            [length]="productsFromRestaurant?.data?.length" [pageIndex]="0" [pageSize]="4"
            [pageSizeOptions]="[4, 6, 9, 10]" aria-label="Select page">
          </mat-paginator>

        </mat-card-content>
        <mat-card-actions>
          <button class="mx-auto w-full" mat-raised-button color="primary" type="submit">Guardar</button>

          <button class="backBTN !mt-3" mat-raised-button color="primary" (click)="onBack()">Volver</button>
        </mat-card-actions>
      </div>
      <div class="absolute right-28 top-[25rem] px-4 py-3 min-h-[10rem] min-w-[10rem] bg-black rounded-xl border border-4 border-yellow-700 text-center">
        <h1 class="text-yellow-700">Productos de Cupón</h1>
        <ul *ngFor="let item of productsForShow">
          <li class="text-yellow-700">{{item.name + " - " +item.quantity}}</li>
        </ul>
      </div>
    </mat-card>
  </form>
</div>